body {
  background-color: #e8ffff;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


hr {
  border: dotted #2d6187 6px;
  border-bottom: none;
  width: 4%;
  margin: 10px auto;
  visibility: hidden;
}


.name {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}

.page {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

.heading {
  padding: 30px 100px 20px 100px;
}

.blank-section {
  height: 132px;
}

.top-section {
  height: 900px;
}

.back-left {
  background-color: #51adcf;
  height: 900px;
  width: 40%;
  float: left;
}

.back-right  {
  background-color: #e8ffff;
  height: 900px;
  width: 60%;
  float: right;
}

.intro-block {
  position: relative;
  padding-left: 30px;
  top: 20%;
  left: 150px;
  height: 500px;
  width: 500px;

}

.hello {
  padding-top: 30px;
  font-size: 6rem;
  font-family: "Montserrat-Light";
}

.project-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  font-size:1.3rem;
}

.self-intro {
  padding-top: 20px;
  margin-right: 20px;
  font-family: "Montserrat";
}

.front {
  background-color: #a3d8f4;
  height: 500px;
  width: 400px;
  left: 25%;
  z-index: 1;
  position: relative;
  top: 20%;
  box-shadow: -5px 10px 15px #888888;
}

.my-photo {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 100px;
  border-radius: 50%;
}

.my-name {
  position: absolute;
  top: 280px;
  width: 400px;
  text-align: center;
}

.line {
  position: relative;
  width: 50px;
  height: 340px;
  left: 175px;
  border-bottom: 1px solid #41aea9;
}

.position1 {
  position: absolute;
  top: 360px;
  width: 400px;
  height: 40px;
  text-align: center;
}

.position2 {
  position: absolute;
  top: 390px;
  width: 400px;
  height: 40px;
  text-align: center;
}

.position3 {
  position: absolute;
  top: 420px;
  width: 400px;
  height: 40px;
  text-align: center;
}

.middle-section {
  background-color: #e8ffff;
  padding-bottom: 70px;
}

.skill-row {

  width: 950px;
  margin: 100px auto 100px auto;
  text-align: left;
}

.my-skills {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
}

.academy-img {
  width: 177px;
  margin-right: 30px;
  float: left;
}

.practice-img {
  width: 201px;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

.bottom-section {
  background-color: #51adcf;
  padding-bottom:30px;
}

.my-hobbies {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: black;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.hobby-row {
  margin-left: 15%;
  margin-right: 15%;
}

.hobby-column {
  padding: 3% 5%;
}

.card-body {
  background-color: #a3d8f4;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

.footer {
  background-color: #e8ffff;
  height: 100px;
}

.icon-container {
  margin-left: 40%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .icon-container {
    margin-left: 35%;
    width: 30%;
  }

  .front {
    top: 180px;
    left: 50%;
    margin-left: -200px;
  }

  .intro-block {
    top: 180px;
    left: 50%;
    margin-left: -250px;
  }



  .back-left {
    height: 500px;
    width: 100%;
  }

  .back-right  {
    height: 700px;
    width: 100%;
  }

  .top-section {
    height: 1200px;
  }

  .hello {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  hr {
    visibility: visible;
  }

  .hobby-column {
    position: relative;
    left: 50%;
    padding: 3% 0;
    margin-left: -9rem;

  }

  .self-intro {
    text-align: center;
  }

  .project-button {
    position: relative;
    left: 50%;
    margin-left: -100px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .front {
    left: 20%;
  }
}

.copyright {
  text-align: center;
}



/* css in projects.html  */
.project-name a:link {
  color: black;
}

.project-name a:visited {
  color: black;
}

.project-name a:hover {
  color: #16697a;
}

.projects {
  width: 100%;
  background-color: #51adcf;
}

.projects-header {
  text-align: center;
  font-family: "Montserrat-Light";
  width: 700px;
  position: relative;
  left:50%;
  margin-left:-350px;
  padding-top: 120px;
  padding-bottom: 20px;
}

.header-description {
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  font-size: 1.2rem;
}

.projects-body {
  width: 800px;
  position: relative;
  left:50%;
  margin-left:-400px;
  padding-bottom: 50px;
}

.projects-item {
  margin: 80px 0;
  background-color: #a3d8f4;
  width: 100%;
  height: 400px;
  box-shadow: -5px 10px 15px #888888;
}

.project-text {
  width: 60%;
  height: 100%;
}

.project-name {
  margin-top: 10%;
  padding-left: 40px;
  margin-bottom: 30px;
  border-left: 10px solid;
}

.project-description {
  font-family: 'Montserrat', sans-serif;
  padding: 0 50px;
}

.project-pic {
  width: 40%;
  height: 100%;
}

.adjust-left {
  float: left;
}

.adjust-right {
  float: right;
}

.project-pic img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
